{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="col index-container">
        <div class="row text-align-center">
            <h1><span>Начни говорить и понимать на английском</span> за 30 дней уделяя 15 мин в день с гарантией результата</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-4" style="display: inline-flex; margin: 0 -5px;">
                <img class="img-icon" src="media/images/landing_page/1.svg" alt="" width="35">
                <p class="text-icon">Онлайн платформа: учитесь где хотите и когда хотите </p>
            </div>
            <div class="col-md-4" style="display: inline-flex; margin: 0 -5px;">
                <img class="img-icon" src="media/images/landing_page/2.svg" alt="" width="35">
                <p class="text-icon">Методика от носителя языка </p>
            </div>
            <div class="col-md-4" style="display: inline-flex; margin: 0 -5px;">
                <img class="img-icon" src="media/images/landing_page/3.svg" alt="" width="35">
                <p class="text-icon">Гарантируем результат </p>
            </div>
        </div>
        <div class="row">


            <div class="row text-align-center" style="margin-top: 100px;">
                <h1>Что вы узнаете <span>на бесплатном уроке?</span></h1>
            </div>
            <div class="row mt-6 ">
                <div class="col-md-6" style="display: inline-flex; margin: 0 -5px;">
                    <img class="img-icon" src="media/images/landing_page/undraw_social_networ.svg" alt="" width="100">
                    <h4 class="text-icon">Как заговорить на английском языке уже <span>через 30 дней</span></h4>
                </div>
                <div class="col-md-6" style="display: inline-flex; margin: 0 -5px;">
                    <img class="img-icon" src="media/images/landing_page/undraw_social_networ.svg" alt="" width="100">
                    <h4 class="text-icon">Секретный метод <span>изучения грамматики</span></h4>
                </div>
                <div class="col-md-6 mt-3" style="display: inline-flex; margin: 0 -5px;">
                    <img class="img-icon" src="media/images/landing_page/undraw_reviewed_docs.svg" alt="" width="100">
                    <h4 class="text-icon">  <span>Как сломать языковой барьер,</span> и легко общаться с иностранцами</h4>
                </div>
                <div class="col-md-6 mt-3" style="display: inline-flex; margin: 0 -5px;">
                    <img class="img-icon" src="media/images/landing_page/undraw_noted_pc9f.svg" alt="" width="100">
                    <h4 class="text-icon">Техники запоминания  <span>слов и выражений</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>




<div style="background-color: #f7f7f9;">
    <div class="container">
        <div class="col index-container">
            <div class="row">
                <div class="row text-align-center" style="margin-top: 100px;">
                    <h1> Наша программа отлично подойдет <span>для Вас, если...</span></h1>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="text-align-center">
                            <img class="img-icon" src="media/images/landing_page/s1.svg" alt="" width="300">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-align-center">
                            <img class="img-icon" src="media/images/landing_page/s2.svg" alt="" width="300">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 style="margin: 15px;">Английский нужен Вам <span> для путешествий </span> </h4>
                        <p>Вы легко сможете сориентироваться в аэропорту или на
                            вокзале, на сайте бронирования билетов, уточнить необходимую
                            информацию у таксиста или водителя автобуса, успешно сделать
                            заказ в кафе. Вы сможете не только успешно расспросить местных
                            жителей, но и сами помочь туристу со слабым знанием английского.</p>
                    </div>
                    <div class="col-md-6">
                        <h4 style="margin: 15px;">Английский необходим <span> для работы  </span> </h4>
                        <p>Вы сможете легко провести деловые переговоры,
                            объяснить собеседнику все детали Вашего предложения,
                            а особые упражнения научат говорить на английском без страха.
                            Хорошее знание языка повысит вероятность успешной сделки!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-align-center">
                            <img class="img-icon" src="media/images/landing_page/s3.svg" alt="" width="300">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-align-center">
                            <img class="img-icon" src="media/images/landing_page/s4.svg" alt="" width="300">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 style="margin: 15px;">Английский необходим для  <span> переезда за границу </span> </h4>
                        <p>Вы будете знать язык не хуже местных специалистов,
                            что поможет успешно трудоустроиться и адаптироваться
                            в новой среде. Вы избавитесь от скованности при
                            разговоре на английском, сможете легко общаться
                            с зарубежными партнерами и своими новыми соседями.</p>
                    </div>
                    <div class="col-md-6">
                        <h4 style="margin: 15px;">Желаете изучать английский  <span> для саморазвития </span> </h4>
                        <p>Вы сможете читать книги и смотреть фильмы на языке оригинала,
                            оживленно и предметно их обсудить с англоязычными людьми,
                            использовать обретенные знания во время работы, путешествий,
                            досуга.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                После прохождения нашего курса <span> вы получите : </span>
                            </h1>
                            <ul>
                                <li>
                                    Ваше владение английским по международной шкале повысится на 1 уровень,
                                    также Вы освоите 4 основные навыка владения английским
                                </li>
                                <li>
                                    Ваш словарный запас на английском будет составлять не менее
                                    1000 слов
                                </li>
                                <li>
                                    Избавитесь от неуверенности при использовании английского
                                </li>
                                <li>
                                    Качественно усвоите английскую грамматику
                                </li>
                                <li>
                                    Сможете на должном уровне общаться с носителями языка и стать «своими» в любой компании
                                </li>
                                <li>
                                    Сможете более быстро и уверенно говорить на английском
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <img class="img-icon" src="media/images/landing_page/undraw_stepping_up_g.svg" alt="" width="500">
                        </div>
                    </div>


                </div>
                <div class="row text-align-center">
                    <h1>
                        Как построена наша формула <span> эффективного обучения: </span>
                    </h1>
                </div>
                <div class="row">
                    <div class="card-group">
                        <div class="card border-radius">
                            <div class="card-body">
                                <h5 class="card-title"> <b>Онлайн уроки</b> </h5>
                                <p class="card-text">30 онлайн уроков для вашего обучения в любое время дня и ночи
                                Удобная продолжительность, одного урока: 15 минут
                                Домашние задания после каждого урока </p>
                            </div>
                            <img class="img-icon" src="media/images/landing_page/s5.svg" alt="" height="200">
                        </div>
                        <div class="card border-radius">
                            <div class="card-body">
                                <h5 class="card-title"><b>Платформа</b> </h5>
                                <p class="card-text">Для удобства отслеживания своего прогресса
                                    мы создали уникальную платформу с помощью которой
                                    и будет проходить весь ваш курс </p>
                            </div>
                            <img class="img-icon" src="media/images/landing_page/s10.svg" alt="" height="200">
                        </div>
                        <div class="card border-radius">
                            <div class="card-body">
                                <h5 class="card-title"><b>Онлайн встречи</b> </h5>
                                <p class="card-text">Разговоры на английском по телефону
                                    с преподавателем 4 раза в неделю для закрепления
                                    пройденного материала  </p>
                            </div>
                            <img class="img-icon" src="media/images/landing_page/s6.svg" alt="" height="200">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-group">
                        <div class="card border-radius">
                            <div class="card-body">
                                <h5 class="card-title"> <b>Постоянство и Контроль</b> </h5>
                                <p class="card-text">Регулярные короткие занятия на каждый день
                                Режим и контроль каждой недели</p>
                            </div>
                            <img class="img-icon" src="media/images/landing_page/s7.svg" alt="" height="200">
                        </div>
                        <div class="card border-radius">
                            <div class="card-body">
                                <h5 class="card-title"><b>Простота и Эффективность!</b> </h5>
                                <p class="card-text">Задания подобраны максимальны простые чтобы
                                    вы могли в ресурсном состоянии сделать их очень быстро. </p>
                            </div>
                            <img class="img-icon" src="media/images/landing_page/s8.svg" alt="" height="200">
                        </div>
                        <div class="card border-radius">
                            <div class="card-body">
                                <h5 class="card-title"><b>Поддержка 15! </b> </h5>
                                <p class="card-text">Поддержка через самый популярный мессенджер
                                    W-app и нашу платформу в котором наши кураторы доступны
                                    15 часов каждый день.   </p>
                            </div>
                            <img class="img-icon" src="media/images/landing_page/s9.svg" alt="" height="200">
                        </div>
                    </div>
                </div>
                <div class="row text-align-center">
                    <h1>
                         <span></span>
                    </h1>
                </div>
                <div class="row text-align-center" style="margin: 200px; font-size: 30px">
                    <h1>
                        <a href="#" class="btn" style="background-color: #fb2b57; font-size: 30px; border-radius:20px;">
                        Запишитесь на бесплатный пробный урок</a>
                    </h1>
                </div>
                <div class="row text-align-center">
                    <h1>
                         <span></span>
                    </h1>
                </div>
                <div class="row text-align-center">
                    <h1>
                        Немного о <span> Smart English </span>
                    </h1>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}