{% extends 'base.html' %}
{% block content %}


<div class="col index-container">
    <div class="row text-align-center">
        <h1><span>Начни говорить и понимать на английском</span> за 30 дней уделяя 15 мин в день с гарантией результата</h1>
    </div>
    <div class="row mt-5">
        <div class="col-md-4" style="display: inline-flex; margin: 0 -5px;">
            <img class="img-icon" src="media/images/landing_page/1.svg" alt="" width="35">
            <p class="text-icon">Онлайн платформа: учитесь где хотите и когда хотите </p>
        </div>
        <div class="col-md-4" style="display: inline-flex; margin: 0 -5px;">
            <img class="img-icon" src="media/images/landing_page/2.svg" alt="" width="35">
            <p class="text-icon">Методика от носителя языка </p>
        </div>
        <div class="col-md-4" style="display: inline-flex; margin: 0 -5px;">
            <img class="img-icon" src="media/images/landing_page/3.svg" alt="" width="35">
            <p class="text-icon">Гарантируем результат </p>
        </div>
    </div>
    <div class="row text-align-center" style="margin-top: 100px;">
        <h1>Что вы узнаете <span>на бесплатном уроке?</span></h1>
    </div>
    <div class="row mt-6 ">
        <div class="col-md-6" style="display: inline-flex; margin: 0 -5px;">
            <img class="img-icon" src="media/images/landing_page/undraw_social_networ.svg" alt="" width="100">
            <h4 class="text-icon">Как заговорить на английском языке уже <span>через 30 дней</span></h4>
        </div>
        <div class="col-md-6" style="display: inline-flex; margin: 0 -5px;">
            <img class="img-icon" src="media/images/landing_page/undraw_social_networ.svg" alt="" width="100">
            <h4 class="text-icon">Секретный метод <span>изучения грамматики</span></h4>
        </div>
        <div class="col-md-6 mt-3" style="display: inline-flex; margin: 0 -5px;">
            <img class="img-icon" src="media/images/landing_page/undraw_reviewed_docs.svg" alt="" width="100">
            <h4 class="text-icon">  <span>Как сломать языковой барьер,</span> и легко общаться с иностранцами</h4>
        </div>
        <div class="col-md-6 mt-3" style="display: inline-flex; margin: 0 -5px;">
            <img class="img-icon" src="media/images/landing_page/undraw_noted_pc9f.svg" alt="" width="100">
            <h4 class="text-icon">Техники запоминания  <span>слов и выражений</span></h4>
        </div>
    </div>
    <div class="row text-align-center" style="margin-top: 100px;">
        <h1> Наша программа отлично подойдет <span>для Вас, если...</span></h1>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <div class="text-align-center">
                    <img class="img-icon" src="media/images/landing_page/s1.svg" alt="" width="300">
                </div>
                <h4 style="margin: 15px;">Английский нужен Вам <span> для путешествий </span> </h4>
                <p>Вы легко сможете сориентироваться в аэропорту или на вокзале, на сайте бронирования билетов, уточнить необходимую информацию у таксиста или водителя автобуса, успешно сделать заказ в кафе. Вы сможете не только успешно расспросить местных жителей, но и сами помочь туристу со слабым знанием английского.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}